@use 'vars' as *;
@use 'mixins' as *;

body {
    background-color: $primaryColor;
    min-height: 100vh;
    position: relative;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    color:  $fontColorLight;
    background-color: $primaryColor;
    padding-bottom: 5rem;
   
    .about-container{
        background-color: $fontColorDark;
    }
    .about-text{
        margin: 1rem;
        p {
          padding: 0rem 2rem;
        }
    }
    .image-container{
        text-align: center;
        
    }
  
    h2 {
      font-size: 1rem;
      margin-bottom: 1rem;
      color: $fontColorCheese;
      text-align: center;
      text-transform: uppercase;
      background-repeat: no-repeat;
      background-position: center top; 
      transform: translate(1%, -170%);
    
    
    }
    .clacker{
      background-image: url("../images/white\ stripes.png");
      background-repeat: no-repeat;
      background-position: center bottom;
      padding-top: 5rem;
      
    }
   .header-container{
    background-color: $highlightColor;
   }
  
    p {
      margin-bottom: 1rem;
      &.border-bottom {
        border-bottom: 2px solid $fontColorLight;
        padding-bottom: 1rem;
    
    }
    }
  
    .tolower{
      text-transform: none;
    }
    a {
      color: $fontColorCheese;
      text-decoration: none;
      transition: color 0.3s ease;
      &:hover {
        text-decoration: underline;
      }
    }
  
    img {
        width: 5rem;
    }
  }

  @include mediaQuery(42.25em){
    .about-content {
    h2{
      font-size: 1.5rem;
       transform: translate(1%, -90%);
    }
    p{
      font-size: 1.4rem;
    }

    .clacker{
      padding-top: 4rem;
    }
    }
  }

  @include mediaQuery(64em){
    .about-container{
    h2{
    font-size: 2rem;
    transform: translate(1%, 12%);
    }
    p{
      font-size: 1.5rem;
    }
   .clacker{
    padding: 16px;
   }
  }
  }
 