@use 'vars' as *;
@use 'mixins' as *;

header {
    @include header-flex;
    background-color: $secondaryColor;
    .logo {
    @include logo-flex;
    gap: .5rem;
    padding: .5rem;
        span {
            @include column-flex;
            padding-top: .25rem;
        }
    }
    img {
        width: 3rem;
        @include mediaQuery(45.25em) {
            width: 4rem;
        }
        @include mediaQuery(64em) {
            width: 5rem;
        }
    }
}


