@use 'vars' as *;
@use 'mixins' as *;

header {
    background-color: $secondaryColor;
    .logo {
    @include logo-flex;
    gap: .5rem;
    padding: .5rem;
        span {
            @include column-flex;
            padding-top: .25rem;
        }
    }
    img {
        width: 3rem;
    }
}


