// Navigation styling
@use 'vars' as *;
@use 'mixins' as *;

a {
    text-decoration: none;
    &:hover {
        color: $fontColorCheese;
    }

}

.btn-main-nav {
    background: transparent;
    border: none;
    padding: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    .hamburger-icon {
        display: inline-block;
        width: 1.875rem;
        height: 1.25rem;
        position: relative;
        .line {
            display: block;
            width: 100%;
            height: .1875rem;
            background: $fontColorLight;
            position: absolute;
            left: 0;
            transition: all 0.3s ease;
            &:nth-child(1) {
                top: 0;
            }
            
            &:nth-child(2) {
                top: 50%;
            }
            &:nth-child(3) {
                top: 100%;
            }
        }
        @include mediaQuery(64em) {
            display: none;
        }
    }
}

.nav-links {
    display: none;
    @include mediaQuery(64em) {
        @include column-flex;
        align-items: center;
        margin-top: 1.5rem;
    }
    .search-bar {
        @include header-flex;
        align-items: center;
        width: 22rem;
        img {
            height: 2rem;
            width: auto;
            padding-right: 1rem;
        }
    }
    input {
        width: 19rem;
        border-radius: 1rem;
        height: 2.25rem;
        padding-left: 1rem;
        &::placeholder {
            text-transform: uppercase;
        }
    }
    .header-nav-links {
        @include header-flex;
        padding-top: 1.5rem;
        margin-left: 3rem;
        gap: 7rem;
    }
}