@use 'vars' as *;
@use 'mixins' as *;

.poster {
    display: inline;
    position: relative;
    max-width: 100%;
    height: 12.75rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255,.5);

    &:hover .details-overlay,
    &.active .details-overlay {
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .details-overlay {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.7);
        opacity: 0;
        transition: opacity 0.3s ease;
        
        p:not(.rating p) {
            margin: .5rem;
            font-size: .75rem;
            line-height: 1.35;
        }
    }
}

.details-overlay.active {
    opacity: 1 !important;
}

@include mediaQuery(64rem) {
    .poster:hover .details-overlay,
    .poster:active .details-overlay {
        opacity: 1;
    }
}