@use 'vars' as *;
@use 'mixins' as *;

.single-details{
    color: white;
}

.title-details {
    background-color: $secondaryColor;
    margin-top: 2rem;
    text-align: center;
    line-height: 1.25;

    li{
        display: inline-block;
        margin-right: 0.5rem;
    }
}

