// Font styles and sizes
//Nat to add font sizes to appropriate headings/paragraphs
@use 'vars' as *;
@use 'mixins' as *;

h1 {
    font-family: $navFont;
    font-size: $h1Mobile;
    color: $fontColorLight;
    padding-top: 0.5rem;
    span {
        font-family: $bodyFont;
        text-transform: uppercase;
        font-style: italic;
        font-size: $h1SpanMobile;
    }
}

h2, h3, h4, h5, h6 {
    font-family: $bodyFont;
}

//Navigation font stylings
li {
    list-style-type: none;
    a {
        font-family: $navFont;
        text-transform: uppercase;
        color:$fontColorLight;
    }
}

footer{
    color: $fontColorLight;
}